* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(220, 220, 220);
}

.center {
    display: flex;
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1100px;
}

.header {
    padding: 10px 0;
    background-color: white;
    border-bottom: 2px solid rgb(230, 230, 230);
}

.header__logo {
    width: 50%;
}

.header__loginForm {
    width: 50%;
    text-align: right;
}

.header__loginForm form {
    display: inline-block;
}

.header__loginForm input[type=text],
.header__loginForm input[type=password] {
    max-width: 180px;
    width: 90%;
    margin-right: 5px;
    height: 20px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.header__loginForm input[type=submit] {
    background-color: #0095f6;
    color: white;
    border: 0;
    height: 20px;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
}

.btn__criarConta {
    display: inline-block;
}

.btn__criarConta a {
    font-size: 14px;
    margin: 0 10px;
}

.header__logadoInfo {
    text-align: right;
    width: 50%;
}

.header__logadoInfo a {
    margin: 0 10px;
    background-color: #0095f6;
    color: white;
    text-decoration: none;
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
}


.modalCriarConta {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.formCriarConta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 40%;
    max-width: 700px;
    text-align: center;
    border-radius: 10px;
}

.formCriarConta input[type=text],
.formCriarConta input[type=password] {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.formCriarConta input[type=submit] {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #0095f6;
    color: white;
    cursor: pointer;
}

.close-modal-criar {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    line-height: 30px;
    background-color: #0095f6;
    border-radius: 15px;
    cursor: pointer;

}


.modalUpload {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.formUpload {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    text-align: center;
    border-radius: 10px;
}

.formUpload input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.formUpload input[type=submit] {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #0095f6;
    color: white;
    cursor: pointer;
}

.close-modal-upload {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    line-height: 30px;
    background-color: #0095f6;
    border-radius: 15px;
    cursor: pointer;
}

.postSingle {
    background-color: white;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 20px;
    padding-bottom: 40px;
    

}

.postSingle img {
    width: 100%;
    padding: 10px;
    border-radius: 20px;

}

.postSingle p {
    padding: 0 0 10px 10px;
}

.postSingle form {
    padding: 20px;
}

.postSingle textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.postSingle input[type=submit] {
    width: 30%;
    height: 30px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #0095f6;
    color: white;
    cursor: pointer;
}

.coments{
    margin-left: 20px;
    font-size: 13px;
}

.coments h2{
    padding: 8px 0;
    font-size: 15px;
    color: #737373;

}